[submodule "source/dojo"]
	path = source/dojo
	url = https://github.com/dojo/dojo.git
[submodule "source/dijit"]
	path = source/dijit
	url = https://github.com/dojo/dijit.git
[submodule "source/dojox"]
	path = source/dojox
	url = https://github.com/dojo/dojox.git
[submodule "source/util"]
	path = source/util
	url = https://github.com/dojo/util.git
[submodule "source/dgrid"]
	path = source/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "source/put-selector"]
	path = source/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "source/xstyle"]
	path = source/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "source/less"]
	path = source/less
	url = https://github.com/cloudhead/less.js.git
