// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitCheckBox {
    border: 1px solid $grayLight;
    box-shadow: inset 1px 1px 1px 0 rgba(1, 1, 1, 0.2);
    text-align: center;
    border-radius: 2px;
    padding: 1px;
    background-color: $white;
    position: relative;
}

.bootstrap .dijitCheckBox input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bootstrap .dijitCheckBox:before {
    @extend .dijitIcon:before;
    vertical-align: top;
}

.bootstrap .dijitCheckBox.dijitCheckBoxChecked:before {
    @extend .icon-ok:before;
}

.bootstrap .dijitCheckBoxDisabled {
    opacity: .65;
    background-color: $grayLighter;
}
