// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

@import '../well';
@import 'Button';

.bootstrap fieldset {
    @extend .bootstrap .well;
}

.bootstrap label {
    vertical-align: middle;
}

// TextBox
.bootstrap .dijitTextBox {
    display: inline-block;
    font-size: $baseFontSize;
    color: $gray;
    border-radius: $inputBorderRadius;
    background-color: $inputBackground;
    border: 1px solid $inputBorder;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border linear .2s, box-shadow linear .2s;
}

.bootstrap .dijitTextBoxFocused {
    border-color: rgba(82,168,236,.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.bootstrap .dijitInputContainer {
    padding: 6px 6px;
}

.bootstrap .dijitInputField .dijitInputInner {
}

.bootstrap .dijitPlaceHolder {
    font-style: normal;
    padding: 4px 6px;
}

.bootstrap .dijitTextBoxDisabled {
    background-image: none;
    box-shadow: none;
    background-color: $inputDisabledBackground;
}

// TextArea
.bootstrap .dijitTextArea {
    padding: 4px 6px;
    line-height: 1.5;
    box-sizing: border-box;
}

// ComboBox
.bootstrap .dijitComboBox .dijitButtonNode {
    @extend .bootstrap .dijitComboButton .dijitButtonNode;
}

.bootstrap .dijitComboBox .dijitButtonNode.dijitArrowButton {
    @extend .bootstrap .dijitComboButton .dijitArrowButton;
}

.bootstrap .dijitComboBox input.dijitArrowButtonInner {
    display: none;
}

.bootstrap .dijitComboBoxDisabled .dijitButtonNode {
    @extend .bootstrap .dijitComboButtonDisabled .dijitButtonNode;
    background-color: $inputDisabledBackground;
}

// Validation
.bootstrap .dijitTextBoxError {
    color: $errorText;
    border-color: $errorText;
}

.bootstrap .dijitTextBoxError.dijitTextBoxFocused {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px lighten($errorText, 20%);
}

.bootstrap .dijitValidationContainer {
    display: none;
}
