// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitSpinnerButtonContainer.dijitButtonNode {
    @extend .bootstrap .dijitComboBox .dijitButtonNode;
    @extend .bootstrap .dijitComboBox .dijitButtonNode.dijitArrowButton;
}

.bootstrap .dijitSpinnerDisabled .dijitButtonNode {
    @extend .bootstrap .dijitComboBoxDisabled .dijitButtonNode;
}
