// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Common styling
//

.bootstrap .dijitButtonNode {
    border: none;
}

.bootstrap .dijitButtonNode * {
    vertical-align: baseline;
}

.bootstrap .dijitButtonNode .dijitIcon {
    // Keeps button heights with and without icons the same
    line-height: $baseLineHeight * 0.65;
}

.bootstrap .dijitButton .dijitButtonNode,
.bootstrap .dijitDropDownButton .dijitButtonNode,
.bootstrap .dijitComboButton .dijitButtonNode,
.bootstrap .dijitToggleButton .dijitButtonNode {
    display: block; // Stretch to fill space
    padding: 6px 14px;
    margin-bottom: 0; // For input.btn
    font-size: $baseFontSize;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
    border: 1px solid $btnBorder;
    border-bottom-color: darken($btnBorder, 10%);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

// Colours
.bootstrap .primary .dijitButtonNode {
    buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

.bootstrap .warning .dijitButtonNode {
    buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}

.bootstrap .danger .dijitButtonNode {
    buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}

.bootstrap .success .dijitButtonNode {
    buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}

.bootstrap .info .dijitButtonNode {
    buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}

.bootstrap .inverse .dijitButtonNode {
    buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}

// Hover
.bootstrap .dijitButtonHover .dijitButtonNode,
.bootstrap .dijitDropDownButtonHover .dijitButtonNode,
.bootstrap .dijitComboButton .dijitButtonNodeHover,
.bootstrap .dijitComboButton .dijitDownArrowButtonHover,
.bootstrap .dijitToggleButtonHover .dijitButtonNode {
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
}

// Active - pressed
.bootstrap .dijitButtonActive .dijitButtonNode,
.bootstrap .dijitComboButton .dijitButtonNodeActive,
.bootstrap .dijitToggleButtonActive .dijitButtonNode,
.bootstrap .dijitToggleButtonChecked .dijitButtonNode {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.bootstrap .dijitDropDownButtonActive .dijitButtonNode {
    @extend .bootstrap .dijitDropDownButtonHover .dijitButtonNode;
}

// Disabled
.bootstrap .dijitButtonDisabled .dijitButtonNode,
.bootstrap .dijitDropDownButtonDisabled .dijitButtonNode,
.bootstrap .dijitComboButtonDisabled .dijitButtonNode,
.bootstrap .dijitToggleButtonDisabled .dijitButtonNode {
    cursor: not-allowed;
    background-image: none;
    opacity: 0.65;
    box-shadow: none;
}

.bootstrap .dijitToggleButtonDisabled.dijitToggleButtonChecked .dijitButtonNode {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

// Content
.bootstrap .dijitButtonText {
    padding: 0 0.3em;
    text-align: center;
}

// Arrow
.bootstrap .dijitArrowButtonInner {
    @extend .bootstrap .dijitButtonNode .dijitIcon;
    height: auto;
    width: auto;
}

.bootstrap .dijitArrowButtonInner:before {
    @extend .dijitIcon:before;
    @extend .icon-caret-down:before;
}

.bootstrap .dijitUpArrowButton .dijitArrowButtonInner:before {
    @extend .icon-caret-up:before;
}

// Specific Styling
//

// Combo Box
.bootstrap .dijitComboButton td.dijitStretch,
.bootstrap .dijitComboButton td.dijitArrowButton {
    display: table-cell;
}

.bootstrap .dijitComboButton .dijitArrowButton {
    border-left-width: 0;
    padding: 6px 10px;
    border-radius: 0 4px 4px 0;
}

.bootstrap .dijitComboButton .dijitArrowButton.dijitHasDropDownOpen {
    @extend .bootstrap .dijitButtonActive .dijitButtonNode;
}

.bootstrap .dijitComboButton .dijitStretch {
    border-radius: 4px 0 0 4px;
}

.bootstrap table.dijitComboButton {
    border-collapse: separate;
}

