// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitRadio {
    @extend .bootstrap .dijitCheckBox;
    border-radius: 20px;
}

.bootstrap .dijitRadio input {
    @extend .bootstrap .dijitCheckBox input;
}

.bootstrap .dijitRadioDisabled {
    @extend .bootstrap .dijitCheckBoxDisabled;
}

.bootstrap .dijitRadio:before {
    @extend .bootstrap .dijitCheckBox:before;
}

.bootstrap .dijitRadio.dijitRadioChecked:before {
    @extend .bootstrap .dijitCheckBox.dijitCheckBoxChecked:before;
}
