// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

@import 'bootstrap';

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

* {
    outline: none;
}

#bottomTabs {
    height: 40%;
}

#progressBarTab .dijitProgressBar {
    margin-bottom: 9px;
}
