/*
    :copyright: Copyright 2012 Martin Pengelly-Phillips
    :license: See LICENSE.txt.
*/

.bootstrap .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top:   4px solid @black;
    border-right: 4px solid transparent;
    border-left:  4px solid transparent;
    content: "";
}


