// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

* {
    outline: none;
}

body {
    color: $grayDark;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
}

.bootstrap .dijitReadOnly *,
.bootstrap .dijitDisabled *,
.bootstrap .dijitReadOnly,
.bootstrap .dijitDisabled {
    cursor: not-allowed;
}

