// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

* {
    outline: none;
}

// Body reset
// -------------------------

body {
    margin: 0;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $bodyBackground;
}


// Links
// -------------------------

a {
    color: $linkColor;
    text-decoration: none;
}
a:hover {
    color: $linkColorHover;
    text-decoration: underline;
}


// Disabled
// -------------------------

.bootstrap .dijitReadOnly *,
.bootstrap .dijitDisabled *,
.bootstrap .dijitReadOnly,
.bootstrap .dijitDisabled {
    cursor: not-allowed;
}

