// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Menu bar
.bootstrap .dijitMenuBar {
    overflow: visible;
    margin-bottom: $baseLineHeight;
    color: $navbarText;
    padding-left:  20px;
    padding-right: 20px;
    background-image: linear-gradient($navbarBackgroundHighlight, $navbarBackground);
    border: 1px solid $navbarBorder;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bootstrap .dijitMenuBar .dijitMenuItem {
    color: $navbarLinkColor;
    padding: (($navbarHeight - $baseLineHeight) / 2) 15px (($navbarHeight - $baseLineHeight) / 2);
    text-shadow: 0 1px 0 $navbarBackgroundHighlight;
}

.bootstrap .dijitMenuBar .dijitMenuItemHover {
    color: $navbarLinkColorHover;
    background-image: none;
    background-color: $navbarLinkBackgroundHover;
}

.bootstrap .dijitMenuBar .dijitMenuItemActive,
.bootstrap .dijitMenuBar .dijitMenuItemSelected {
    color: $navbarLinkColorActive;
    text-decoration: none;
    background-image: none;
    background-color: $navbarLinkBackgroundActive;
    box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
}

.bootstrap .dijitMenuBar .dijitMenuItemDisabled {
    color: $navbarLinkColor;
    box-shadow: none;
    background-color: transparent;
}

// Brand
.bootstrap .dijitMenuBar .brand {
    font-weight: 200;
    color: $navbarBrandColor;
    text-shadow: 0 1px 0 $navbarBackgroundHighlight;
    font-size: ($baseFontSize * 1.5);
    padding: 10px;
    display: inline;
    vertical-align: middle;
}

// Primary menu
.bootstrap .dijitMenuBar.primary {
    border-radius: 0px;
    margin-bottom: 5px;
}

// Menu bar inverse colour
.bootstrap .dijitMenuBar.inverse {
    color: $navbarInverseText;
    background-image: linear-gradient($navbarInverseBackgroundHighlight, $navbarInverseBackground);
    border-color: $navbarInverseBorder;
}

.bootstrap .dijitMenuBar.inverse .dijitMenuItem {
    color: $navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.bootstrap .dijitMenuBar.inverse .dijitMenuItemHover {
    background-color: $navbarInverseLinkBackgroundHover;
    color: $navbarInverseLinkColorHover;
}

.bootstrap .dijitMenuBar.inverse .dijitMenuItemActive,
.bootstrap .dijitMenuBar.inverse .dijitMenuItemSelected {
    color: $navbarInverseLinkColorActive;
    background-color: $navbarInverseLinkBackgroundActive;
    box-shadow: inset 0 3px 8px rgba(255,255,255,.125);
}

.bootstrap .dijitMenuBar.inverse .dijitMenuItemDisabled {
    color: $navbarInverseLinkColor;
}

.bootstrap .dijitMenuBar.inverse .brand {
    color: $navbarInverseBrandColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

// Menu
.bootstrap .dijitMenu {
    z-index: $zindexDropdown;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    background-color: $dropdownBackground;
    border: 1px solid #ccc; // Fallback for IE7-8
    border: 1px solid $dropdownBorder;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-collapse: separate;
}

.bootstrap .dijitMenuItem {
    font-weight: normal;
    color: $dropdownLinkColor;
    white-space: nowrap;
}

.bootstrap .dijitMenuItemHover {
    text-decoration: none;
    color: $dropdownLinkColorHover;
    background-color: $dropdownLinkBackgroundHover;
    background-image: linear-gradient(top, $dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
}

.bootstrap .dijitMenuItemSelected {
    @extend .bootstrap .dijitMenuItemHover;
}

.bootstrap td.dijitMenuItemLabel {
    padding: 6px 0.3em;
}

.bootstrap tr.dijitMenuItem td:first-child {
    padding-left: 20px;
}

.bootstrap tr.dijitMenuItem td:last-child {
    padding-right: 20px;
}

// Separator
.bootstrap .dijitMenuSeparator {
    margin: (($baseLineHeight / 2) - 1) 1px;
}

.bootstrap .dijitMenuSeparatorTop {
    border-bottom: 1px solid $dropdownDividerTop;
    height: auto;
}

.bootstrap .dijitMenuSeparatorBottom {
    height: auto;
}

// Icon
.bootstrap .dijitMenuItemIcon,
.bootstrap .dijitMenuExpand  {
    // Keep in line with labels
    line-height: $baseLineHeight * 0.65;
}

.bootstrap .dijitMenuArrowCell .dijitMenuExpand:before {
    @extend .dijitIcon:before;
    @extend .icon-caret-right:before;
}
