// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitTimePickerItem {
    font-weight: normal;
    color: $dropdownLinkColor;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid transparent;
}

.bootstrap .dijitTimePickerItem .dijitTimePickerItemInner {
    padding-top: 6px;
    padding-bottom: 6px;
}

.bootstrap .dijitTimePickerItemHover {
    text-decoration: none;
    color: $dropdownLinkColorHover;
    background-color: $dropdownLinkBackgroundHover;
    background-image: linear-gradient(top, $dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
}

.bootstrap .dijitTimePickerItemSelected {
    @extend .bootstrap .dijitTimePickerItemHover;
}

