// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Menu bar
.bootstrap .dijitToolbar {
    overflow: visible;
    margin-bottom: $baseLineHeight;
    color: $navbarText;
    background-image: linear-gradient($navbarBackgroundHighlight, $navbarBackground);
    border-bottom: 1px solid $navbarBorder;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    padding: 4px;
}

.bootstrap .dijitToolbar .dijitButton,
.bootstrap .dijitToolbar .dijitDropDownButton,
.bootstrap .dijitToolbar .dijitComboButton,
.bootstrap .dijitToolbar .dijitToggleButton {
    margin-left: 2px;
    margin-right: 2px;
}

.bootstrap .dijitToolbar .dijitButton .dijitButtonNode,
.bootstrap .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.bootstrap .dijitToolbar .dijitComboButton .dijitButtonNode,
.bootstrap .dijitToolbar .dijitToggleButton .dijitButtonNode {
    padding: 0px;
}

.bootstrap .dijitToolbar .dijitButtonContents {
    padding: 4px 8px;
}
