// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// General
.bootstrap .dijitEditor {
    border: 1px solid $navbarBorder;
}

.bootstrap .dijitEditorDisabled {
    opacity: 0.65;
}
