// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .dijitProgressBar {
    margin: 2px 0px;
}

.dbootstrap .dijitProgressBarEmpty {
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(center top, $backgroundColor, $backgroundHighlightColor);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.dbootstrap .dijitProgressBarFull {
    background-color: $defaultAccentColor;
    background-image: linear-gradient(center top, $defaultAccentColor, $defaultAccentColorHighlight);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.dbootstrap .dijitProgressBarTile {
    display: none;
}

.dbootstrap .dijitProgressBarLabel {
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

// Colours
// -------------------

// Danger (red)
.dbootstrap .dijitProgressBar.danger .dijitProgressBarFull {
    background-color: $dangerBackground;
    background-image: linear-gradient(center top, $dangerBackground, $dangerBackgroundHighlight);
}

// Success (green)
.dbootstrap .dijitProgressBar.success .dijitProgressBarFull {
    background-color: $successBackground;
    background-image: linear-gradient(center top, $successBackground, $successBackgroundHighlight);
}

// Info (teal)
.dbootstrap .dijitProgressBar.info .dijitProgressBarFull {
    background-color: $infoBackground;
    background-image: linear-gradient(center top, $infoBackground, $infoBackgroundHighlight);
}

// Warning (orange)
.dbootstrap .dijitProgressBar.warning .dijitProgressBarFull {
    background-color: $warningBackground;
    background-image: linear-gradient(center top, $warningBackground, $warningBackgroundHighlight);
}

// Striped
.dbootstrap .dijitProgressBar.striped .dijitProgressBarFull {
    background-size: 40px 40px;
    background-image: linear-gradient(left bottom, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent) !important;
}

// Animated (stripes)
// -------------------

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.dbootstrap .dijitProgressBar.animated .dijitProgressBarFull {
    animation: progress-bar-stripes 2s linear infinite;
}

// Indeterminate
// -------------------

.dbootstrap .dijitProgressBarIndeterminate .dijitProgressBarFull {
    @extend .dbootstrap .dijitProgressBar.striped .dijitProgressBarFull;
    @extend .dbootstrap .dijitProgressBar.animated .dijitProgressBarFull;
}


