// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .dijitTimePickerItem {
    font-weight: normal;
    color: $dropdownLinkColor;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid transparent;
}

.dbootstrap .dijitTimePickerItem .dijitTimePickerItemInner {
    padding-top: 6px;
    padding-bottom: 6px;
}

.dbootstrap .dijitTimePickerItemHover {
    text-decoration: none;
    color: $dropdownLinkColorHover;
    background-color: $dropdownLinkBackgroundHover;
    background-image: linear-gradient(top, $dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
}

.dbootstrap .dijitTimePickerItemSelected {
    @extend .dbootstrap .dijitTimePickerItemHover;
}

.dbootstrap .dijitTimePicker {
    z-index: $zindexDropdown;
    padding: 5px 0;
    margin: 2px 0 0; 
    background-color: $dropdownBackground;
    border: 1px solid #ccc; // Fallback for IE7-8
    border: 1px solid $dropdownBorder;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-collapse: separate;
}

