// :copyright: Copyright 2013 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .dijitTitlePane {
    border: 1px solid $titlePaneBorderColor;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.dbootstrap .dijitTitlePaneTitle {
    color: $linkColor;
    border-bottom: none;
    padding: 8px 15px;
}

.dbootstrap .dijitTitlePaneTitleHover {
    color: $linkColorHover;
}

.dbootstrap .dijitTitlePaneContentOuter {
    margin-bottom: 2px;
    border-top: 1px solid $titlePaneBorderColor;
}

.dbootstrap .dijitTitlePaneContentInner {
    padding: 9px 15px;
}

.dbootstrap .dijitTitlePane .dijitArrowNode {
    margin-right: 9px
}

.dbootstrap .dijitTitlePane .dijitArrowNode:before {
    @extend .dijitIcon:before;
    text-align: center;
    width: 12px;
}

.dbootstrap .dijitTitlePane .dijitOpen .dijitArrowNode:before {
    @extend .icon-caret-down:before;
}

.dbootstrap .dijitTitlePane .dijitClosed .dijitArrowNode:before {
    @extend .icon-caret-right:before;
}
