// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Body text
body {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
}

p {
    margin: 0 0 ($baseLineHeight / 2);
}

.lead {
    margin-bottom: $baseLineHeight;
    font-size: $baseFontSize * 1.5;
    font-weight: 200;
    line-height: $baseLineHeight * 1.5;
}

// Emphasis
small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

.muted {
    color: $grayLight;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 2) 0;
    font-family: $headingsFontFamily;
    font-weight: $headingsFontWeight;
    line-height: 1;
    color: $headingsColor;
    text-rendering: optimizelegibility;
    small {
        font-weight: normal;
        line-height: 1;
        color: $grayLight;
    }
}

h1 {
    font-size: $baseFontSize * 2.6;
    line-height: $baseLineHeight * 2;
}

h2 {
    font-size: $baseFontSize * 2.1;
    line-height: $baseLineHeight * 2;
}

h3 {
    font-size: $baseFontSize * 1.7;
    line-height: $baseLineHeight * 2;
}

h4 {
    font-size: $baseFontSize * 1.3;
    line-height: $baseLineHeight * 2;
}

h5 {
    font-size: $baseFontSize;
    line-height: $baseLineHeight * 2;
}

h6 {
    font-size: $baseFontSize * 0.85;
    line-height: $baseLineHeight * 2;
}

h1 small {
    font-size: $baseFontSize * 1.7;
}

h2 small {
    font-size: $baseFontSize * 1.3;
}

h3 small {
    font-size: $baseFontSize;
}

h4 small {
    font-size: $baseFontSize;
}

// Lists
ul, ol {
    padding: 0;
    margin: 0 0 $baseLineHeight / 2 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: $baseLineHeight;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

dl {
    margin-bottom: $baseLineHeight;
}

dt,
dd {
    line-height: $baseLineHeight;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: $baseLineHeight / 2;
}

// Horizontal rules
hr {
    margin: $baseLineHeight 0;
    border: 0;
    border-top: 1px solid $hrBorder;
    border-bottom: 1px solid $white;
}

// Blockquotes
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 $baseLineHeight;
    border-left: 5px solid $borderColor;
    p {
        margin-bottom: 0;
        font-shorthand(16px, 300, $baseLineHeight * 1.25);
    }
    small {
        display: block;
        line-height: $baseLineHeight;
        color: $grayLight;
        &:before {
            content: '\2014 \00A0';
        }
    }

    // Float right with text-align: right
    &.pull-right {
        float: right;
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid $borderColor;
        border-left: 0;
        p,
        small {
            text-align: right;
        }
        small {
            &:before {
                content: '';
            }
            &:after {
                content: '\00A0 \2014';
            }
        }
    }
}

// Quotes
blockquote:before,
blockquote:after {
    content: "";
}

