// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Colours
$black = #000;
$grayDarker = #222;
$grayDark = #333;
$gray = #555;
$grayLight = #999;
$grayLighter = #eee;
$white = #fff;

$blue = #049cdb;
$green = #46a546;
$red = #9d261d;
$yellow = #ffc40d;
$orange = #f89406;
$pink = #c3325f;
$purple = #7a43b6;

// Borders
$baseBorderRadius = 4px;

// Scaffolding
$bodyBackground = $white;
$textColor = $grayDark;

// Links
$linkColor = #08c;
$linkColorHover = darken($linkColor, 15%);

// Typography
$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily = Georgia, "Times New Roman", Times, serif;
$monoFontFamily = Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize = 14px;
$baseFontFamily = $sansFontFamily;
$baseLineHeight = 20px;
$altFontFamily = $serifFontFamily;

$headingsFontFamily = inherit;
$headingsFontWeight = bold;
$headingsColor = inherit;

// Buttons
$btnBackground = $white;
$btnBackgroundHighlight = darken($white, 10%);

$btnPrimaryBackground = $linkColor;
$btnPrimaryBackgroundHighlight = spin($btnPrimaryBackground, 20%);

$btnInfoBackground = #5bc0de;
$btnInfoBackgroundHighlight = #2f96b4;

$btnSuccessBackground = #62c462;
$btnSuccessBackgroundHighlight = #51a351;

$btnWarningBackground = lighten($orange, 15%);
$btnWarningBackgroundHighlight = $orange;

$btnDangerBackground = #ee5f5b;
$btnDangerBackgroundHighlight = #bd362f;

$btnInverseBackground = #444;
$btnInverseBackgroundHighlight = $grayDarker;

// Forms
$inputBackground = $white;
$inputBorder = #ccc;
$inputBorderRadius = $baseBorderRadius;
$inputDisabledBackground = $grayLighter;
$formActionsBackground = #f5f5f5;

// Dropdowns
$dropdownBackground = $white;
$dropdownBorder = rgba(0,0,0,.2);
$dropdownDividerTop = #e5e5e5;
$dropdownDividerBottom = $white;

$dropdownLinkColor = $grayDark;
$dropdownLinkColorHover = $white;
$dropdownLinkBackgroundHover = $dropdownLinkBackgroundActive;
$dropdownLinkColorActive = $dropdownLinkColor;
$dropdownLinkBackgroundActive = $linkColor;

// Accordions
$accordionBorderColor = #e5e5e5;

// Icons path
$fontPath = "./font";

// Hr border color
$hrBorder = $grayLighter;

// Wells
$wellBackground = #f5f5f5;

// Navbar
$navbarCollapseWidth = 979px;

$navbarHeight = 40px;
$navbarBackgroundHighlight = #ffffff;
$navbarBackground = darken($navbarBackgroundHighlight, 5%);
$navbarBorder = darken($navbarBackground, 12%);

$navbarText = $gray;
$navbarLinkColor = $gray;
$navbarLinkColorHover = $grayDark;
$navbarLinkColorActive = $gray;
$navbarLinkBackgroundHover = transparent;
$navbarLinkBackgroundActive = darken($navbarBackground, 5%);

$navbarBrandColor = $navbarLinkColor;

// Inverted navbar
$navbarInverseBackground = #111111;
$navbarInverseBackgroundHighlight = #222222;
$navbarInverseBorder = #252525;

$navbarInverseText = $grayLight;
$navbarInverseLinkColor = $grayLight;
$navbarInverseLinkColorHover = $white;
$navbarInverseLinkColorActive = $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover = transparent;
$navbarInverseLinkBackgroundActive = $navbarInverseBackground;

$navbarInverseBrandColor = $white;

// Form states and alerts
$warningText = #c09853;
$warningBackground = #fcf8e3;
$warningBorder = darken(spin($warningBackground, -10), 3%);

$errorText = #b94a48;
$errorBackground = #f2dede;
$errorBorder = darken(spin($errorBackground, -10), 3%);

$successText = #468847;
$successBackground = #dff0d8;
$successBorder = darken(spin($successBackground, -10), 5%);

$infoText = #3a87ad;
$infoBackground = #d9edf7;
$infoBorder = darken(spin($infoBackground, -10), 7%);

// Tooltips and popovers
$tooltipBackground = $white;
$tooltipArrowWidth = 5px;
$tooltipArrowColor = $white;
$tooltipArrowOuterWidth = $tooltipArrowWidth + 1;
$tooltipArrowOuterColor = rgba(0,0,0,.25);

// Tree
$treeRowBackgroundHover = #f5f5f5;
$treeRowBackgroundSelected = #0088CC;
$treeRowColorSelected = #fff;

