// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .dijitAccordionContainer {
    border: none;
}

.dbootstrap .dijitAccordionInnerContainer {
    margin-bottom: 2px;
    border: 1px solid $accordionBorderColor;
    border-radius: 4px;
}

.dbootstrap .dijitAccordionTitle {
    color: $linkColor;
    border-bottom: none;
    padding: 8px 15px;
}

.dbootstrap .dijitAccordionChildWrapper {
    border-top: 1px solid $accordionBorderColor;
}

.dbootstrap .dijitAccordionContainer .dijitAccordionContainer-child {
    padding: 9px 15px;
}

.dbootstrap .dijitAccordionTitleHover {
    color: $linkColorHover;
}
