// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitAccordionContainer {
    border: none;
}

.bootstrap .dijitAccordionInnerContainer {
    margin-bottom: 2px;
    border: 1px solid $accordionBorderColor;
    border-radius: 4px;
}

.bootstrap .dijitAccordionTitle {
    color: $linkColor;
    border-bottom: none;
    padding: 8px 15px;
}

.bootstrap .dijitAccordionChildWrapper {
    border-top: 1px solid $accordionBorderColor;
}

.bootstrap .dijitAccordionContainer .dijitAccordionContainer-child {
    padding: 9px 15px;
}

.bootstrap .dijitAccordionTitleHover {
    color: $linkColorHover;
}
