// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.bootstrap .dijitTabContainerBottom-container,
.bootstrap .dijitTabContainerTop-container,
.bootstrap .dijitTabContainerLeft-container,
.bootstrap .dijitTabContainerRight-container {
    border: 1px solid #ddd;
}

.bootstrap .dijitTabContainerTop-container {
    margin-top: -1px;
}

.bootstrap .dijitTabContainerTop-tabs {
    color: $linkColor;
    border-bottom: 1px solid transparent;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bootstrap .dijitTab {
    margin-bottom: -1px;
    margin-right: 2px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: $baseLineHeight;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.bootstrap .dijitTabHover {
    color: $linkColorHover;
    background-color: $grayLighter;
    border-color: $grayLighter $grayLighter #ddd;
}

.bootstrap .dijitTabContainerTop-tabs .dijitTabChecked {
    color: $gray;
    background-color: $white;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.bootstrap .tabStripButtonHover {
    background-color: transparent;
    border: 1px solid transparent;
}

.bootstrap .dijitTabStripIcon {
    @extend .icon;
}

.bootstrap .dijitTabStripSlideLeftIcon {
    @extend .icon-chevron-left;
}

.bootstrap .dijitTabStripSlideRightIcon {
    @extend .icon-chevron-right;
}

.bootstrap .dijitTabStripMenuIcon {
    @extend .icon-chevron-down;
}

.bootstrap .dijitTabDisabled .dijitTabStripIcon {
    opacity: 0.65;
}

